@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,700');
@import "bootstrap";

// 全体の設定 ここから
*{
	box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #fafafa;
}

nav {
	background: url("../images/line.png") 0 0 repeat-x;
}

main {
	margin-bottom: 50px;
}

#wrapper{
    min-height: 100vh;
    display: flex;
  	flex-direction: column;
}

// article要素余白
.contents {
	margin-top: 80px;
}

// h2の下線
h2 {
		// display: inline-block;
		border-bottom: 1px dotted #f28439;
		padding-bottom: 5px;
}

// 全体設定 ここまで

// ナビゲーション設定 ここから

.navbar {
	width:1110px;
	padding-left: 0;
	padding-right: 0;
}

#navbarCollapse li {
	margin: 5px auto;
}
.fa-bars {
	color: black;
}

// ナビゲーション設定 ここまで

// フッター設定 ここから
footer {
	margin-top: auto;
	background: url("../images/line.png") 0 0 repeat-x;
	margin-left: auto;
	margin-right: auto;
	width-max:1110px;
}

footer .container {
	margin-top: 50px;
}

.copyright {
	padding:1.5em;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
// フッター設定 ここまで

// index ここから

.hero {
	margin-top: 76px;
	margin-bottom: 30px;
	text-align: center;
}

.menu{
	width: 50%;
	float: left;
}
.card {
	float: left;
	height: 20rem;
}
.cards{
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0;
}

.facebook {
	float: right;
	margin: auto;
}

// index ここまで
// about.html ここから
.title {
	padding-top: 76px;
	margin-top: 20px;
	margin-bottom: 80px;
}

.ab-r {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.self {
	width: 450%;
	height: 100%;
	padding-bottom: 35%;
	background: url("../images/hero.png") 0 0 no-repeat;
	background-size: cover;
}

.ex  {
	margin-left: 50px;
	p{
		column-count: 2;
		line-height: 2;
		margin: 10px 0 0 0;
	}
	i {
		color: #f28439;
	}
}
.intrduction{
	margin-top:40px;
	margin-bottom: 20px;
	i {
		color: #f28439;
		font-size: 1.2rem;
	}
	p {
		column-count: 2;
		line-height: 2;
		margin: 10px 0 0 0;
	}
	h3 {
		display: inline-block;
		border-bottom: 1px dotted #f28439;
		padding-bottom: 5px;
	}
}

// about ここまで

// works.html
// .works h2 {
	// margin-bottom: 2.5rem;
	// padding-bottom: 0.5rem;
	// border-bottom: 1px solid #f28439;
// }

.works span {
		display:inline-block;
		padding-left: 1.1rem;
		font-weight: normal;
		font-size: 1.2rem;
	}

.works i {
	display: inline-block;
	padding-right: 1.2rem;
}

.works h3 {
	margin-bottom: 2rem;
}

.lineup ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	// margin-bottom: 3rem;
	line-height: 1.2rem;
		li {
			border-bottom: 1px dotted grey;
			padding-bottom: 5px;
			margin-bottom: 1.5rem;
		}
		span {
			line-height: 1rem;
			font-size: .8rem;
		}
}
// works.html ここまで
// sample.htmlここから
.data {
	margin-top:40px;
	margin-bottom: 20px;
	h3 {
	font-size: 1.25rem;
	display: inline-block;
	border-bottom: 1px dotted grey;
	}
	p {
		font-size: .8rem;
	}
	i {
		display: inline-block;
		font-size: 1.2rem;
		padding-left: 10px;
	}
}
.mic {
	background: url("../images/mic01.png") center 0 no-repeat;
}

// sample.htmlここまで


// contact.html

// pricelistの設定
.price {
	margin-top:40px;
	margin-bottom: 20px;
	h3 {
	padding-bottom: 15px;
	margin-top: 10px;
	font-size: 1.5rem;
	display: inline-block;
	}
	i {
		display: inline-block;
		font-size: 1.2rem;
		padding-right: 5px;
		padding-left: 5px;
	}
}
.table {
	// margin-bottom: 50px;
	// 表だけ囲む場合は上記margin-bottonを有効にしてください。
	border-bottom: 1px solid #ddd;
	caption {
		font-size: 0.8rem;
	}
	ul {
		list-style: none;
		padding-left: 12px;
	}
}
// 各価格表ごとに囲む場合は、.chartを有効にしてください。(今はこっちです。)
.chart {
	border: 1px solid #333;
	margin-bottom: 50px;
}
th,td {
	width: 30%;
}

// contact formの設定
.question {
	margin-top:40px;
	margin-bottom: 20px;
	ul {
		list-style: none;
		padding-left: 0;
		margin-top: 20px;
		font-size: 0.8rem;
		// padding-left: 12px;
	}
	i {
		color: #f28439;
	}
}

input[type="text"] {
	width: 300px;
}
input[type="email"] {
	width: 300px;
}
textarea{
	width: 300px;
	height: 200px;
}
input[type="submit"] {
	width: 300px;
	height: 50px;
	background-color: rgba(242,132,57,0.5);
	// text-align: center;
	border: 1px solid #f28439;
	border-radius: 5px;
	letter-spacing: 1.5rem;
	font-size: 1.5rem;
}



