@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,700');
@import "bootstrap";
@import url("responsive.css") screen and (max-width: 768px);

// 全体の設定 ここから
*{
	box-sizing: border-box;
}

body, html {
	// width: 1110px;
    height: 100%;
    background-color: #fafafa;
    margin: 0;
    // text-align: center; 不要(.infoが中央揃えになる)
}

nav {
	background: url("../images/line.png") 0 0 repeat-x;
}

main {
	margin-bottom: 50px;
}

#wrapper{
	// margin: 0 auto;
	// width:1110px;
	max-width: 100%;
    min-height: 100vh;
    display: flex;
  	flex-direction: column;
  	justify-content: center;
}

// 上に戻るボタン
#page-top {
      display: none;
      position: fixed;
      right: 50px;
      bottom: 50px;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    #move-page-top {
      color: #333;
      text-decoration: none;
      display: block;
      cursor: pointer;
    }
    #move-page-top:hover {
      color: #f28439;
    }

// article要素余白
.contents {
	margin-top: 80px;
}

// h2の下線
h2 {
		// display: inline-block;
		border-bottom: 1px dotted #f28439;
		padding-bottom: 5px;
}

// h1 下の余白
h1 {
	padding-bottom: 15px;
}
// 全体設定 ここまで

// ナビゲーション設定 ここから

.navbar {
	width:1110px;
	// max-width:100%;
	padding-left: 0;
	padding-right: 0;
}

#navbarCollapse li {
	margin: 5px auto;
}
.fa-bars {
	color: black;
}

// スマホでの表示
// @media screen and (max-width:767px){
// 	.navbar{
// 	max-width: 100%;
// 		ul {
// 			padding-left: 0;
// 		}
// 	}
// 	#navbarCollapse li {
// 		margin: 5px auto;
// 	}
// }

// ナビゲーション設定 ここまで

// フッター設定 ここから
footer {
	margin-top: auto;
	background: url("../images/line.png") 0 0 repeat-x;
	margin-left: auto;
	margin-right: auto;
	width:1110px;
	// max-width: 100%;
}

footer .container {
	margin-top: 50px;
	max-width: 100%;
}

.copyright {
	padding:1.5em;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
// フッター設定ーここまで
// .containerの設定ーここまで
.container {
	margin: 0 auto 50px auto;
	width: 1110px;
	padding: 0;
	// display: flex; いらない
	// flex-direction: row; いらない
	// flex-wrap: wrap; いらない
	// justify-content: center; いらない
}
// .container {
// 	padding-left: 0;
// 	padding-right: 0;
// 	margin: 0 auto 50px auto;
// }※これはダブって書いていた設定なので削除

// .containerの設定ーここまで

// index.htmlの設定ーここから
// ヒーローイメージの設定ーここから
#hero {
	width: 1110px;
	height: 325px;
	margin: 0 auto 50px auto;
	background: url("../images/heroFixed.jpg") center center no-repeat;
	// margin-top: 76px;
	// margin-bottom: 50px; 下にまとめて追加。
	// text-align: center; いらない
}
// ヒーローイメージの設定ーここまで
// メニューの設定ーここから
.menu{
	width: 1110px;
	// display: flex;
	// flex-direction: row;
	// flex-wrap: nowrap;
	// align-content: space-between;
	// float: left;
}

// メニューの中のcard4枚の設定
.cards{
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: space-between;
	justify-content: space-between;
	padding-left: 0;
	// display: flex;
	// flex-direction: row;
	// flex-wrap: nowrap;
	a {
		// width: 50px;
		color: #333;
		}
}

// メニュの中のcard各1枚ずつの設定
.card {
	height: 350px;
	width: 250px;
	margin-bottom: 20px;
	// width: 25%;
	// float: left; (解除)
	// margin-right: 20px;
}
// フェイスブックの設定ここから
.facebook {
	width: 500px;
	float: left;
	margin: auto;
	// display: flex;
}
// フェイスブックの設定ここまで

// 個人情報の設定ーここから
.info {
	width: 500px;
	float: left;
	margin-left:76px;
	// display: flex;
	// margin-top: 20px;
	h3{
		display: inline-block;
		font-size: 1.2rem;
		border-bottom: 1px dotted #f28439;
		padding-bottom: 5px;
		}
	ul{
		list-style: none;
		padding-left: 10px;
		line-height: 2rem;
	}
	i{
		color: #f28439;
		padding-right: 5px;
	}
}
// 個人情報の設定ーここまで
// indexーここまで

// about.html ここから
.title {
	padding-top: 76px;
	// margin-top: 20px;
	margin-bottom: 80px;
	margin-left: 0;
	// margin-right: auto;
}

.ab-r {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	img{
		width: 50%;
	}
}

.ex  {
	margin-left: 50px;
	p{line-height: 2;
		margin: 10px 0 0 0;
	}
	i {
		color: #f28439;
	}
	img {
		display:none;
	}
}

.intrduction{
	// width:100%;
	position: relative;
	overflow: hidden;
	margin-top:40px;
	margin-bottom: 20px;
	i {
		color: #f28439;
		font-size: 1.2rem;
	}
	p {
		display: flex;
		flex-direction: row;
		line-height: 2;
		margin: 10px 0 0 0;
	}
	h3 {
		display: inline-block;
		border-bottom: 1px dotted #f28439;
		padding-bottom: 5px;
	}
	img {
		padding: 5px;
		border: 1px solid #ddd;
	}
}

.intrduction:nth-of-type(odd) img {
	float: right;
	margin-left: 40px;
}

.intrduction:nth-of-type(even) img {
	float: left;
	margin-right: 40px;
}

// aboutーここまで

// works.htmlーここから
// .works h2 { （不要）
	// margin-bottom: 2.5rem;
	// padding-bottom: 0.5rem;
	// border-bottom: 1px solid #f28439;
// }

.works span {
		display:inline-block;
		padding-left: 1.1rem;
		font-weight: normal;
		font-size: 1.2rem;
	}

.works i {
	display: inline-block;
	padding-right: 1.2rem;
}

.works h3 {
	margin-bottom: 2rem;
}

.lineup ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	// margin-bottom: 3rem;
	line-height: 1.2rem;
		li {
			border-bottom: 1px dotted grey;
			padding-bottom: 5px;
			margin-bottom: 1.5rem;
		}
		span {
			line-height: 1rem;
			font-size: .8rem;
		}
}
// works.html ここまで
// sample.htmlここから
.data {
	margin-top:40px;
	margin-bottom: 20px;
	h3 {
	font-size: 1.25rem;
	display: inline-block;
	border-bottom: 1px dotted grey;
	}
	p {
		font-size: .8rem;
	}
	i {
		display: inline-block;
		font-size: 1.2rem;
		padding-left: 10px;
	}
}
.mic {
	background: url("../images/mic01.png") center 0 no-repeat;
}

// sample.htmlここまで
// contact.htmlーここから
// pricelistの設定ーここから
.price {
	margin-top:40px;
	margin-bottom: 20px;
	h3 {
	padding-bottom: 15px;
	margin-top: 10px;
	font-size: 1.5rem;
	display: inline-block;
	}
	i {
		display: inline-block;
		font-size: 1.2rem;
		padding-right: 5px;
		padding-left: 5px;
	}
}
.table {
	// margin-bottom: 50px;
	// 表だけ囲む場合は上記margin-bottonを有効にしてください。
	border-bottom: 1px solid #ddd;
	caption {
		font-size: 0.8rem;
	}
	ul {
		list-style: none;
		padding-left: 12px;
	}
}
// 各価格表ごとに囲む場合は、.chartを有効にしてください。(今はこっちです。)
.chart {
	border: 1px solid #333;
	margin-bottom: 50px;
}
th,td {
	width: 30%;
}
// pricelistの設定ーここまで
// contact formの設定ーここから
.question {
	margin-top:40px;
	margin-bottom: 20px;
	ul {
		list-style: none;
		padding-left: 0;
		margin-top: 20px;
		font-size: 0.8rem;
		// padding-left: 12px;
	}
	i {
		color: #f28439;
	}
}

input[type="text"] {
	width: 300px;
}
input[type="email"] {
	width: 300px;
}
textarea{
	width: 300px;
	height: 200px;
}
input[type="submit"] {
	width: 300px;
	height: 50px;
	background-color: rgba(242,132,57,0.5);
	// text-align: center;
	border: 1px solid #f28439;
	border-radius: 5px;
	letter-spacing: 1.5rem;
	font-size: 1.5rem;
}
.submit:hover {
	background-color: rgba(242,132,57,1);
}
// contact formの設定ーここまで
// contact.htmlここまで

// mediaの読み込み トライアル
@media screen and (max-width: 768px) {
	// html {
	// 	box-sizing: border-box;
	// }
	*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
	// .selector-for-some-widget {
	// 	box-sizing: content-box;
	// }

	img {
		display:block;
		max-width: 100%;
		height: auto;
	}

	body {
		// float:left;
		margin: 0 auto;
	 	text-size-adjust: 100%;
	 	max-width: 100%;
	 	// height: 100%;
		}
		#wrapper {
			max-width: 100%;
		}
		.container {
			max-width:100%;
		}

		// ナビゲーションの設定ーここから
		//ナビゲーションのcontactとEnglishを真ん中揃え
		.nav-link {
			text-align: center;
			justify-content: center;
		}
	// #navbarCollapse li {
	// 	margin: 5px auto;
	// }
	.navbar{
		max-width: 100%;
		// width: 375px;
		// ul {
		// 		padding-left: 0;
		// }
	}

	// ハンバーガーアイコン
	.fa-bars {
		padding-right: 15px;
	}

	// フッターの設定ーここから
	 footer.container{
		max-width: 100%;
	 }
	 footer {
	 	max-width: 100%;
		margin-top: auto;
		background: url("../images/line.png") 0 0 repeat-x;
		// margin-left: auto;
		// margin-right: auto;
	}
	// .copyright {
	// 	padding:1.5em;
	// 	display: block;
	// 	text-align: center;
	// 	margin-bottom: 15px;
	// }
	// フッターの設定ーここまで

	//index.html-ここから直す
	#hero {
		display: none;
		// max-width: 100%;
		// height: auto;
	}

	.menu{
		max-width: 50%;
		text-align: center;
	}
	.cards {
		max-width: 50%!important;
		// display: flex!important;
		flex-direction: column!important;
		// margin: 10px auto!important;
		// text-align: center!important;
		justify-content: center!important;
	}

	.card {
		height: 20rem;
	// width: 100%;
	// margin: 10px auto;
	}

	.info {
		margin: 20px auto;
		font-size: 0.8rem;
		// clear: both;
		// margin-left: 50px;
	}

	.facebook {
		max-width: 100%;
		margin-left: 0!important;
	}

	//about.html
	.intrduction img {
		display: none;
	}
	.ab-r {
		width: 100%;
		// display: flex;
		// flex-direction: colum;
		img {
			// clear: both;
			display: none;
		}
	}
	.ex {
		margin-left: 0px!important;
		img {
			display: block!important;
			text-align: center!important;
			margin: 0 auto 10px auto!important;
		}
	}

}