@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,700');
@import "bootstrap";

*{
	box-sizing: border-box;
}

body, html {
    height: 100%;
}

// body{
// 	margin-top:76px;
// }

// header{
// 	background: url("../images/line.png") 0 0 repeat-x;
// }

nav {
	background: url("../images/line.png") 0 0 repeat-x;
}

.navbar {
	width:1110px;
	padding-left: 0;
	padding-right: 0;
}

.fa-bars {
	color: black;
}

.hero {
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}

#wrapper{
    min-height: 100vh;
    display: flex;
  	flex-direction: column;
}

// main.container {
// 	position: relative;
// 	width: 100%;
// 	height: auto;
// 	padding-bottom: 100px;
// }

main {
	margin-bottom: 50px;
}
.menu{
	float: left;
}

.facebook {
	float: right;
}

footer {
	margin-top: auto;
	background: url("../images/line.png") 0 0 repeat-x;
	margin-left: auto;
	margin-right: auto;
	width:1110px;
// 	width: 100%;
// 	height: 100px;
// 	position: absolute;
// 	text-align: center;
// 	bottom: 0;
// padding-top: 10px;
// 		p {
// 			display: block;
// 			line-height: 100px;
// 		}
}

.copyright {
	padding:1.5em;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}